<div class="page-content">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="d-lg-flex">
            <div class="sidebar lift-sidebar text-center">
              <div class="white-panel user-info">
                <figure class="user-image">
                  <img src="../../assets/img/img.jpeg" alt="" class="img-fluid">
                </figure>
                <h4><span>Welcome,</span>Riham Abu Elinin</h4>
                <h4><span>Founder &amp; CEO</span>BznsBuilder</h4>
                <a href="Profile_Management.html" class="panel-btn"><span><i class="fas fa-cog"></i></span> View
                  Profile</a>
              </div>
              <button type="button" class="btn btn-primary btn-block bzns-btn green">Become Expert</button>
              <button type="button" class="btn btn-primary btn-block bzns-btn green">Become Investors</button>
              <button type="button" class="btn btn-primary btn-block bzns-btn green">Become Service Provider</button>
              <div class="white-panel blue-border">
                <h4 class="panel-title">Profile Completed</h4>
                <svg class="radial-progress" data-percentage="65" viewBox="0 0 80 80">
                  <circle class="incomplete" cx="40" cy="40" r="30"></circle>
                  <circle class="complete" cx="40" cy="40" r="30" style="stroke-dashoffset: 97.6735px;">
                  </circle>
                  <text class="percentage" x="50%" y="57%" transform="matrix(0, 1, -1, 0, 80, 0)">65<tspan>%</tspan>
                  </text>
                </svg>
                <p class="gray-small">Complete your profile to gain<br>popularity</p>
                <a href="Profile_Management.html" class="panel-btn">Complete your Profile</a>
              </div>
            </div>
            <div class="main-content">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-12">
                    <div class="empty-dashboard text-center">
                      <span class="plus-icon mb-3"></span>
                      <!-- <span class="add-icon"><i class="fas fa-plus"></i></span> -->
                      <h4>No Company Or Program Added Yet</h4>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus ab obcaecati nulla
                        incidunt ducimus eum veniam explicabo, ex et ratione iste</p>
                      <button [routerLink]="['../dashboard2']" type="button" class="btn btn-primary  bzns-btn green" data-toggle="modal" data-target="#Price_Individuals_Modal">
                        Create Company</button>
 <button type="button" class="btn btn-primary bzns-btn green" id="modalToggle">Create Organization</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="sidebar right-sidebar">
              <div class="white-panel blue-border">
                <h4 class="panel-title mb-3 with-padding-15">Suggested Programs</h4>
                <div class="list-with-img list-with-btn with-padding-15">
                  <div class="item">
                    <figure class="item-image">
                      <a href="#">
                        <img src="../../assets/img/Avatar.png" alt="" class="img-fluid">
                      </a>
                    </figure>
                    <div class="item-info">
                      <h4><a href="#">Program Name</a></h4>
                      <p>3 May 2019</p>
                    </div>
                    <div class="item-action">
                      <a href="#" class="btn bzns-btn green">Apply</a>
                    </div>
                  </div>
                  <!--Item-->
                  <div class="item">
                    <figure class="item-image">
                      <a href="#">
                        <img src="../../assets/img/Avatar.png" alt="" class="img-fluid">
                      </a>
                    </figure>
                    <div class="item-info">
                      <h4><a href="#">Program Name</a></h4>
                      <p>3 May 2019</p>
                    </div>
                    <div class="item-action">
                      <a href="#" class="btn bzns-btn green">Apply</a>
                    </div>
                  </div>
                  <!--Item-->
                  <div class="item">
                    <figure class="item-image">
                      <a href="#">
                        <img src="../../assets/img/Avatar.png" alt="" class="img-fluid">
                      </a> </figure>
                    <div class="item-info">
                      <h4><a href="#">Program Name</a></h4>
                      <p>3 May 2019</p>
                    </div>
                    <div class="item-action">
                      <a href="#" class="btn bzns-btn green">Apply</a>
                    </div>
                  </div>
                  <!--Item-->
                </div>
                <!--List with img-->
                <a href="#" class="panel-btn text-center">View More Programs</a>
              </div>
              <!--White Panel-->
              <div class="white-panel blue-border">
                <h4 class="panel-title mb-3 with-padding-15">Services For You</h4>
                <div class="list-with-img with-padding-15">
                  <div class="item">
                    <figure class="item-image">
                      <a href="#">
                        <img src="../../assets/img/Avatar.png" alt="" class="img-fluid">
                      </a>
                    </figure>
                    <div class="item-info">
                      <h4><a href="#">The District Egypt</a></h4>
                      <h6>CO-working space</h6>
                      <p>Maadi</p>
                    </div>
                  </div>
                  <!--Item-->
                  <div class="item">
                    <figure class="item-image">
                      <a href="#">
                        <img src="../../assets/img/Avatar.png" alt="" class="img-fluid">
                      </a> </figure>
                    <div class="item-info">
                      <h4><a href="#">The District Egypt</a></h4>
                      <h6>CO-working space</h6>
                      <p>Maadi</p>
                    </div>
                  </div>
                  <!--Item-->
                  <div class="item">
                    <figure class="item-image">
                      <a href="#">
                        <img src="../../assets/img/Avatar.png" alt="" class="img-fluid">
                      </a> </figure>
                    <div class="item-info">
                      <h4><a href="#">The District Egypt</a></h4>
                      <h6>CO-working space</h6>
                      <p>Maadi</p>
                    </div>
                  </div>
                  <!--Item-->
                </div>
                <!--List with img-->
                <a href="#" class="panel-btn text-center">Explore More Services</a>
              </div>
              <!--White Panel-->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>